
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <%- style %>
</head>
<body>
    <header class="header">
        <%- include('_header'); %>
    </header>
    <main>
        <%- body %>
    </main>
    <footer class="footer">
        <%- include('_footer'); %>
    </footer>
    <%- script %>
</body>
</html>
